rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{documents=**}{
    	allow read, write, create, update: if request.auth.token.ref == userId
    }
    
    match /groups/{groupId}{
			allow read: if get(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.token.ref)) != null
			allow update: if get(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.token.ref)) != null && get(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.token.ref)).data.role == "admin"
      
      match /messages/{documents=**}{
      	allow read, write, create, update: if get(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.token.ref)) != null
      }
    } 
  }
}